html,body{
    width: 100%;
    height: 100%;
}
*,ol,ul,li,h1,h2,h3,h4,h5,h6,img,p{
    margin:0;
    padding:0;
    list-style: none;
}
img{
    display: block;
    width: 100%;
}
a,a:hover,a:visited,a:active{
    text-decoration: none;
}
.lt_container{
    width: 100%;
    height: 100%;
    background-color: pink;
    max-width: 640px;
    min-width: 320px;

    position: relative;
    margin: 0 auto;
    padding-top: 45px;
    padding-bottom: 55px;
}
.lt_header{
    width: 100%;
    height:45px;
    background-color: skyblue;
    position: absolute;

    top:0;
    left: 0;
}
.lt_header .icon_left,.lt_header .icon_right{
    width:45px;
    height:45px;
    text-align: center;
    line-height: 45px;

    position: absolute;
    top: 0;
    color: #fff;

}
.lt_header .icon_left{
    left:0;
}
.lt_header .icon_right{
    right: 0;
}
.lt_header h3{
    text-align: center;
    font-weight: 400;
    line-height: 45px;
    font-size: 20px;
}
.lt_footer{
    width:100%;
    height: 55px;
    background-color: skyblue;
    position: absolute;
    bottom:0;
    left: 0;
    overflow: hidden;
}
.lt_footer ul li{
    float: left;
    width:25%;
    text-align: center;


}
.lt_footer ul li a{
    width:100%;
    height: 100%;
    color:#fff;
    display: block;
    padding-top: 8px;

}
.lt_footer li a.current {
    color: orange;
}
.lt_footer li a.current p{
    color: orange;
}
.lt_main{
    width:100%;
    height:100%;
    background-color:#fff;
    /*子元素是定位布局，父元素需要加定位*/
    position: relative;
}
/*搜索框*/
.lt_search{
    padding:10px;
    width:100%;
    position: relative;
}
.lt_search input{
    float:left;
    width:85%;
    border: 1px solid #007AFF;
    border-radius: 5px 0 0 5px;
}
.lt_search .btnSearch{
    float: right;
    width:15%;
    height: 40px;
    background-color: #007AFF ;
    border: 1px solid #007AFF;
    border-radius:0 5px 5px 0 ;
    color:#fff;
    font-size: 16px;
}
/*共用产品样式*/
.lt_product{
    padding:10px;
}
.lt_product li{
    padding:10px;
    float: left;
    width:48%;
    border:1px solid #ccc;
    margin-bottom:10px;
    text-align: center;
}
.lt_product li:nth-child(2n+1){
    margin-right: 4%;
}
.lt_product li .price{
    color: red;
}
.lt_product li .oldPrice{
    color: #ccc;
    text-decoration:line-through ;
}
.lt_product img{
    margin:0 auto;
    height: 100px;
    width:100px;
}
.lt_product .mui-ellipsis-2{
    height:40px;
}
.lt_size span{
    display: inline-block;
    width:25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border: 1px solid #ccc;
    font-size: 12px;
    margin:3px 0;
}
.lt_size span.current{
    background-color: #eea236;
    color: #ffffff;
}